* {
    text-align: center;
    margin: 0 auto;
    color: black;
    box-sizing: border-box;

}

h1 {
    padding: 1%;
}

ul {
    list-style-type: none;

    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: darkseagreen;
}

.pink {


    color: white;
    padding: 55px;

}

img {
    height: 200px;
}

body {
    font-family: "Lato", sans-serif;
    background-color: lightpink;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 50px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
}

.photo img {

    width: 40%;
    height: auto;

}

.text {
    width: 80%;
    padding: 1%;

}




@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 26px;
    }
}

.zach {
    width: 50%;
    font-size: 18px;
    width: 1000px;
}


.photo {
    height: 50%;
    margin-left:
}

.zach2 {
    font-size: 18px;
    width: 1000px
}

.video {
    margin-left: 130px;
}

.photo1 {
    height: 15%;
}


.zach3 {
    width: 1000px;
    font-size: 18px;

}

.photo4 {
    height: 15%;
}

.zach4 {
    width: 1000px;
    font-size: 18px;
}
